/* Coolors Exported Palette - coolors.co/1e2223-004e64-92dce5-eee5e9-fffaff */

/* HSL */
$color1: hsla(192%, 8%, 13%, 1);
$color2: hsla(193%, 100%, 20%, 1);
$color3: hsla(187%, 61%, 74%, 1);
$color4: hsla(333%, 21%, 92%, 1);
$color5: hsla(300%, 100%, 99%, 1);

/* RGB */
$color1: rgba(30, 34, 35, 1);
$color2: rgba(0, 78, 100, 1);
$color3: rgba(146, 220, 229, 1);
$color4: rgba(238, 229, 233, 1);
$color5: rgba(255, 250, 255, 1);